.file-structure {
    min-width: 50%;
    min-height: 80%;
    border: 1px dotted #58585f;
    display: flex;

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 25px;
    }
    
   
    .sidebar {
        width: fit-content;
        text-align: left;
        border-right: 1px dotted #58585f;
        padding: 20px 40px 20px 10px;
        background-color: #58585f; 
        color: #dbdbea;
    }

    .content {
        // min-width: 60%;
        min-width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }


    .folder .header,
    .file {
        display: flex;
        align-items: center;
        line-height: 25px;
        padding: 2px 6px;
        font-size: 15px;

        cursor: pointer;

        .icon {
            // vertical-align: middle;
            margin-right: 5px;
        }

        &.active,
        &:hover {
            color: #ffa2a2;
            background-color: #73737a;
            border-radius: 3px;
        }
    }
    
    li {
        list-style-type: none;
    }
}
