.dad-joke-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40%;
	border: 1px solid #dcd8d8;
	padding: 4rem;
}

.dad-joke-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dad-joke {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.new-joke-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.new-joke-button:hover {
	background-color: #0062cc;
}
